<!DOCTYPE html>
<html lang="en">  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ $css := resources.Get "css/index.css" | fingerprint "md5" }}
  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />
  
  <style>
    #sidebar {
      transition: width 0.3s ease-in-out;
      /* position: absolute; */
      /* top: 10px; /*Adjust this for vertical alignment */
      /* left: 10px; /*Adjust this to align with the sidebar content */
    }
    #sidebarContent {
      transition: opacity 0.3s ease-in-out;
      opacity: 1;
      margin-top: 60px; /* Adjust this value to make space for the 'Info' button */
    }
  </style>
</head>
<body class="bg-custom-beige">
  <!-- Header or other shared code -->

  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  {{ block "footer" . }}
  <!-- Footer or other shared code -->
  {{ end }}
</body>
</html>
