<!DOCTYPE html>
<html lang="en">  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{ $css := resources.Get "css/index.css" | fingerprint "md5" }}
  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
  <!-- Link to CSS file -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="bg-custom-beige">
  <!-- Header or other shared code -->

  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  {{ block "footer" . }}
  <!-- Footer or other shared code -->
  {{ end }}
</body>
</html>
