{{ define "main" }}
<div class="flex h-screen">
  {{ partial "sidebar.html" . }}
  <main class="main-container">
    
    <div class="animated-paragraph", style="margin-top: 5%;">
        We're so excited you'll be joining us for our wedding celebration. 
        In addition to the festivities, we hope you'll take some time to explore all that Benevento and the surrounding area have to offer!
    </div>
    <h1 class="animated-header">  Things to See in Benevento </h1> 
    <div class="animated-paragraph" style="margin-top: 5%;"> 
        <a href="https://en.wikipedia.org/wiki/Arch_of_Trajan_(Benevento)" style="color: darkred;">Arco di Traiano</a> -
        This magnificent Roman triumphal arch was built in 114 AD and is one of the best-preserved examples of its kind.
        <img src="/images/arco.jpg", style="display: block; margin: 0 auto; width: 500px; height: auto;">
    </div>
    <div class="animated-paragraph"> 
        <a href="https://en.wikipedia.org/wiki/Santa_Sofia,_Benevento" style="color: darkred;">Church of Santa Sofia</a> -
        A UNESCO World Heritage Site, this stunning church dates back to the 8th century and boasts a unique star-shaped plan and remarkable frescoes.
        <img src="/images/santa_sofia.jpg", style="display: block; margin: 0 auto; width: 500px; height: auto;">
    </div>
    <div class="animated-paragraph">
        <a href="https://en.wikipedia.org/wiki/Roman_Theatre,_Benevento" style="color: darkred;">Roman Theatre</a> -
        Explore the ruins of this ancient Roman theater, a testament to Benevento's rich history.
        <img src="/images/teatro_romano.jpg", style="display: block; margin: 0 auto; width: 500px; height: auto;">
    </div>
    <div class="animated-paragraph">
        <a href="https://en.wikipedia.org/wiki/Benevento_Cathedral" style="color: darkred;">Duomo</a> -
        A beautiful cathedral with a fascinating history, with parts of the structure dating back to the 13th century.
        <img src="/images/duomo.jpg", style="display: block; margin: 0 auto; width: 500px; height: auto;">
    </div>
    <div class="animated-paragraph">
        <strong>Take a Stroll and Enjoy the Food -</strong> 
        Benevento has charming streets with nice restaurants and cafes. Be sure to try some of the local specialties!
    </div>

    <ul class="animated-paragraph">
        <!-- <li><strong>Rocca dei Rettori:</strong> Wander through this imposing medieval castle, which now houses a museum showcasing regional artifacts and artworks. [Image of Rocca dei Rettori, Benevento] </li> -->
        <!-- <li><strong>Hortus Conclusus:</strong> Step into this peaceful enclosed garden filled with sculptures and installations by contemporary artists. [Image of Hortus Conclusus, Benevento] </li> -->
    </ul>

    <h1 class="animated-header">Day Trip Adventures from Benevento</h1>

    <div class="animated-paragraph" style="margin-top: 5%;"> 
        <a href="https://en.wikipedia.org/wiki/Naples" style="color: darkred;">Napoli</a> -
        Just over an hour away, Naples is a vibrant and bustling city packed with history, art, and incredible pizza! Explore the historic center, see world-class museums, and walk along the scenic waterfront. 
        <img src="/images/napoli.jpg", style="display: block; margin: 0 auto; width: 500px; height: auto;">
    </div>
    <div class="animated-paragraph">
        <a href="https://en.wikipedia.org/wiki/Pompeii" style="color: darkred;">Pompei</a> -
        Step back in time with a visit to the remarkably preserved ruins of Pompeii, an ancient Roman city buried by the eruption of Mount Vesuvius in 79 AD.
        <img src="/images/pompei.jpg", style="display: block; margin: 0 auto; width: 500px; height: auto;">
    </div>
    <div class="animated-paragraph">
        <a href="https://en.wikipedia.org/wiki/Capri" style="color: darkred;">Capri</a> -
        Escape to the idyllic island of Capri with its Blue Grotta, luxurious villas, and breathtaking coastal views. 
        <img src="/images/capri.jpg", style="display: block; margin: 0 auto; width: 500px; height: auto;">
    </div>
    <div class="animated-paragraph">
        <a href="https://en.wikipedia.org/wiki/Amalfi_Coast" style="color: darkred;">Amalfi Coast</a> -
        Explore the beauty of the Amalfi Coast, with its dramatic cliffs, quaint towns like Positano and Amalfi, and stunning coastal scenery.
        <img src="/images/amalfi_coast.jpg", style="display: block; margin: 0 auto; width: 500px; height: auto;">
    </div>

    <!-- <h2>Additional Information & Tips</h2>
    <ul>
        <li><strong>Getting Around:</strong> Benevento is well-connected by train from major cities like Rome and Naples. Within the region, there are buses and taxis for your convenience. Consider renting a car for exploring the Amalfi Coast if you'd like the flexibility. </li>
        <li><strong>Language:</strong> Italian is the primary language, but you'll find English spoken in tourist areas. Learning a few basic greetings will enhance your experience. </li>
        <li><strong>Weather:</strong> Consider the time of year you'll be visiting – summers can be hot, while the rest of the year is generally mild.</li>
    </ul> -->


  </main>
</div>

<!-- Include any necessary scripts -->
<script src="/js/sidebarToggle.js"></script>
{{ end }}
