{{ define "main" }}
<div class="flex h-screen">
  {{ partial "sidebar.html" . }}

  <!-- Main content -->
  <main class="main-container">
    <h1 class="animated-header">Nicolò & Anisa</h1>
    <div class="animated-paragraph">
      {{ i18n "welcome_message" }}
    </div>
    
    <h1 class="animated-header">Timeline</h1>
    <div class="animated-paragraph">
      {{ i18n "timeline_intro" }}
    </div>

    <!-- Debugging URLs
    <div>Debug English URL: {{ "en" | absLangURL }}</div>
    <div>Debug Italian URL: {{ "it" | absLangURL }}</div> -->

  </main>
</div>

<!-- Include the external JavaScript file -->
<script src="/js/sidebarToggle.js"></script>

{{ end }}
